* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row nowrap;

  height: 100%;
  width: 100%;
  margin: 0;
}

/* graph styles */
#graph {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: scroll;
  border-left: 1px dashed grey;
  background-color: #eee;
}
#graph-svg {
  transition: transform 0.5s;
}
.node { stroke: #222; stroke-width: 2px; }
.node.activity { fill: #BBB; }
.node.selected { stroke: red }
.link { stroke: #999; stroke-opacity: .8; stroke-width: 2px; }
.graph-label { font-family: monospace; font-size: 16px; }

#map-controls {
  position: absolute;
  height: 100px;
  width: 120px;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#map-controls > div {
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  background-color: #ddd;
  border-radius: 5px;
}

#move-up {
  top: 20px;
  left: 80px;
  transform: scaleY(-1);
}

#move-down {
  top: 60px;
  left: 80px;
}

#move-left {
  top: 40px;
  left: 60px;
  transform: scaleX(-1);
}

#move-right {
  top: 40px;
  left: 100px;
}

#zoom-in {
  top: 30px;
  left: 20px;
}

#zoom-out {
  top: 50px;
  left: 20px;
}

#reset {
  top: 40px;
  left: 80px;
}

/* interface styles */
#interface {
  max-width: 300px;
  min-width: 300px;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
}

#interface-section-header {
  font-size: 1.2em;
  font-weight: bold;
}

.search-result {
  margin: 5px 0;
}

.search-result.selected {
  background: #efefef;
}

.search-result > .title {
  /*font-weight: bold;*/
}

.search-result > .description, #detail-description {
  font-size: 0.8em;
}
